[2017-12-12 03:49] dstebila opened #2 "Use oqs/config.h to enable/disable algorithms"
The OQS header oqs/config.h has macros set to indicate which algorithms were enabled in a build of liboqs.  This fork should be updated to use those macros to only enable the key exchange methods in OpenSSH for which the corresponding algorithm was built in liboqs.

[2018-03-26 14:18] dstebila opened #4 "Update to current liboqs"
Not building against current version of liboqs, because some algorithms have been deprecated.

[2018-03-26 14:28] dstebila commented on #4
Use approach in issue #2 to help address.

[2018-04-27 15:46] christianpaquin commented on #4
See PR #5; suggestions from issue #2 would still be useful to implement.

[2018-06-26 15:52] dstebila commented on #4
Obsoleted by new contribution for Amazon.

[2018-06-26 15:52] #4 closed, assigned to nobody

[2018-06-26 15:52] dstebila commented on #2
Obsoleted by new contribution for Amazon.

[2018-06-26 15:52] #2 closed

[2018-07-19 15:48] dstebila opened #7 "make tests fails"
When I run OQS-master on my Ubuntu VM, `make tests` fails.  The failure (see attached log) seems to not be connected with any of our changes.  Eric did some checking and also encountered failures during `make tests` when running various commits even before our changes.  So probably not our problem.  This issue is to record the issue, discuss, and decide if we want to do anything about it.

[2018-07-19 15:48] dstebila commented on #7
[make_tests.log](https://github.com/open-quantum-safe/openssh-portable/files/2210627/make_tests.log)

[2018-07-19 20:27] crockeea commented on #7
On Ubuntu 16.04, I get past the "sftp commands" tests, but get stuck on "forwarding.sh".

[code]

This also appears to be unrelated to Torben's changes. I get the same error on the real openssh-portable repo, with the HEAD of master branch.

[2018-07-20 17:53] dstebila commented on #7
Problem doesn't exist on some platforms (AmazonLinux, some Ubuntu) and even when it does occur seems to be unrelated to our changes.  Closing.

[2018-07-20 17:53] #7 closed, assigned to nobody

[2018-09-18 16:16] crockeea opened #11 "sshd_config Unsupported option"
On AmazonLinux2, running `sudo make install` results in
[code]

[2018-09-18 16:29] himsen commented on #11
@crockeea
That is just a warning, right?
This should not happen anyway, because these two options are skipped by default when reading the config file.

[2018-09-18 16:54] himsen commented on #11
@crockeea
Can you provide me with the result of this, please:
`$cat /etc/ssh/sshd_config`
Thanks.

[2018-09-18 17:35] crockeea commented on #11
@himsen Not clear what the severity is. Those are the last two lines of output from `sudo make install`, so it's not reporting any sort of failure. Here's my sshd_config file:

[code]

Note that `sudo make install` detects that sshd_config is already present, so it does not overwrite it. I think that means the config file pasted above is the default one shipped with AL2 (PAM is enabled by default)

[2018-09-18 19:57] himsen commented on #11
@crockeea There is no severity. The reason you get warnings, as you also say, is that the build is checking the AL2 sshd_config, and this build is not configured to support any GSS authentication methods (i.e. unsupported).

I have an idea why it is picking up the AL2 sshd_config, but I would need to know the exact commands you used when building, to confirm. Could you add them here, please? The l

[2018-09-18 20:26] crockeea commented on #11
@himsen
[code]

[2018-09-18 20:54] himsen commented on #11
@crockeea Thanks. You can choose another directory (e.g.  `/usr/local/etc/ssh`) for the config files by passing that directory to the `sysconfdir` option.

[2018-10-03 15:02] dstebila commented on #11
No further discussion needed, closing ticket.

[2018-10-03 15:02] #11 closed, assigned to nobody

[2018-10-18 12:15] himsen opened #13 "Regression tests fail"
Issue first reported in PR #12

A fresh checkout - using the master branch of libOQS - fails the OpenSSH regression tests reporting random looking memory corruption errors. A manual run also does not succeed.

I tried annotating with a few printf's and it seems that the kem structure returned from libOQS contains obviously wrong values.

[code]

I need to investigate this further. But this should

[2018-10-19 15:40] himsen commented on #13
This problem will probably go away after discovering the reason for open-quantum-safe/liboqs#420

[2018-10-24 16:55] dstebila commented on #13
Resolved by discussion in open-quantum-safe/liboqs#420.

[2018-10-24 16:55] #13 closed, assigned to nobody

[2018-11-15 16:57] truth-quark opened #16 "Travis CI implementation"
Create Travis CI configuration for the project.
* For consistency, follow the all-tests.sh approach of the related liboqs projects.

[2018-11-21 17:26] dstebila opened #17 "Add post-quantum signature-based authentication in SSH"

[2018-11-27 05:49] dstebila commented on #16
It's been suggested by @himsen that we include OpenSSH's `make tests` in our continuous integration tests.

[2018-12-07 14:23] csosto-pk commented on #17
Good to see this Prof Stebila. Just curious, is the first PQ sig scheme supported going to be XMSS?
I am guessing yes, judging from the code I see in the branch.

[2018-12-07 14:31] himsen commented on #17
Hi. If you are referring to the XMSS scheme already in the OpenSSH-Portable repo, then this is a separate project, disjoint from the effort by OQS. That XMSS code is added by the OpenSSH developers.

The supported algorithms will most likely include all the signature schemes supported by libOQS.

[2018-12-07 14:52] csosto-pk commented on #17
Got it. Thank for the quick response @himsen  , I appreciate it.

I probably should not be asking this question in this repo, but liboqs seems to only include [picnic and qTesla currently](https://github.com/open-quantum-safe/liboqs/tree/master/src/sig). Are you aware if other sig algorithms coming soon in liboqs?

[2018-12-07 15:08] himsen commented on #17
@dstebila would be the person to answer that :)

[2018-12-30 08:34] himsen opened #18 "Compiler warnings"
I see several compiler warnings when doing a standard build on an Ubuntu 14.04 box.

E.g.

[code]

Should be quick to solve by adding missing includes and remove unused variables.

[2019-01-02 18:28] #18 closed, assigned to himsen

[2019-01-30 17:17] dstebila commented on #16
Resolved by open-quantum-safe/testing/pull/20

[2019-01-30 17:17] #16 closed, assigned to truth-quark

[2019-02-22 00:51] christianpaquin commented on #17
I just noticed this issue! I hope my PR #22 doesn't conflict with some of your work in progress

[2019-02-22 00:51] christianpaquin opened #23 "Add hybrid PQ auth"
Similar to OpenSSL's hybrid auth strategy.

Dev on top of PR #22.

[2019-02-22 00:55] christianpaquin opened #24 "Enable PQ certs"
SSH supports certified keys. All currently supported key types also define a certified type. Consider doing the same for the PQC ones.

[2019-02-22 00:56] christianpaquin opened #25 "Document PQC options in man pages"
Edit the man page files (.1) to document PQC options.

[2019-03-21 19:35] dstebila opened #26 "Update to OpenSSH 7.9"
Note that 7.9 now allows building against OpenSSL 1.1 API.

[2019-03-21 20:28] dstebila commented on #17
Fixed by #22

[2019-03-21 20:28] #17 closed, assigned to himsen

[2019-03-21 23:37] dstebila opened #28 "Building OpenSSH without PQ auth against liboqs-nist causes bug"
PQ auth in OpenSSH has to be disabled when using liboqs nist-branch because of the different signature API.  This is mostly the case, but there's still a compilation error.  See https://circleci.com/gh/open-quantum-safe/testing/130.

[2019-03-27 01:43] dstebila commented on #28
Fixed by https://github.com/open-quantum-safe/testing/commit/0aec3dbbcaad83d10533235e01e2dfcbeb97d7a5

[2019-03-27 01:43] #28 closed, assigned to nobody

[2019-03-27 03:06] dstebila commented on #23
Fixed by #27

[2019-03-27 03:06] #23 closed, assigned to christianpaquin

[2019-03-30 15:37] dstebila commented on #26
Resolved by #29

[2019-03-30 15:37] #26 closed, assigned to christianpaquin

[2019-07-01 11:21] jaimesaez97 opened #31 "Script run.sh fails on Ubuntu16.04 with openssl version 1.0.2g"
On the execution of `$ sudo ./run.sh` there's an error:

`configure:16615: error: *** Can't find LibOQS library (see config.log for details) ***`

I am executing the script from an Ubuntu 16.04 with openssl-1.0.2g (1 Mar 2016) installed and these are the steps taken:

` $ sudo apt install autoconf automake gcc libtool libssl-dev make unzip xsltproc `
` $ cd openssh-portable/oqs_test `
` $ sudo bas

[2019-07-02 10:45] jaimesaez97 commented on #31
The error is found in an undefined reference to CMP_LT_OS in the liboqs.so library `/home/osm/QKD/openssh-portable/oqs_test/tmp/install/lib/liboqs.so: undefined reference to '_CMP_LT_OS'`.
This is the code: `configure:16615: error: *** Can't find LibOQS library (see config.log for details) ***`.

[2019-07-05 14:47] dstebila commented on #31
Hi Jaime, we ran into this problem in another context.  Can you try running `CIRCLECI=true ./run.sh` and letting me know the result?

This would be a temporary solution. A more permanent solution involves improving how AVX2 and other instructions are detected/used in liboqs, which I'm working on but isn't done yet (https://github.com/open-quantum-safe/liboqs/pull/509).

[2019-07-09 01:15] dstebila commented on #31
https://github.com/open-quantum-safe/liboqs/pull/519 may be a more permanent solution to this issue; need to check here once it lands.

[2019-07-10 01:37] dstebila commented on #31
I think open-quantum-safe/liboqs#519 has fixed this problem, at least I can no longer reproduce.

[2019-07-10 01:37] dstebila commented on #31
Please try running again with a fresh checkout.

[2019-08-19 21:15] xvzcf commented on #31
Closing this as there have been no further updates since the fix has been merged.

[2019-08-19 21:15] #31 closed, assigned to dstebila

[2019-09-20 17:24] christianpaquin opened #39 "Document new alg contribution"
We should document how to add new OQS algs to OpenSSH, like [we did for OpenSSL](https://github.com/open-quantum-safe/openssl/wiki/Contributing-Guide).

[2019-09-23 16:53] xvzcf commented on #39
I've addressed this [here](https://github.com/open-quantum-safe/openssh-portable/pull/41).

[2019-09-23 16:53] #39 closed, assigned to xvzcf

[2019-09-24 21:16] christianpaquin opened #42 "Add SIDH/SIKE round 2 and compressed variants"

[2019-09-25 20:13] dstebila commented on #42
Fixed by #43.

[2019-09-25 20:13] #42 closed, assigned to christianpaquin

[2019-09-26 21:39] xvzcf opened #44 "Algorithms disabled in liboqs should be disabled in OpenSSH."
When liboqs is built, autoconf outputs `config.h`, which contains preprocessor defines that state what algorithms are enabled at the variant level; for e.g.: if in the file we have
` ... `
 `#define OQS_ENABLE_SIG_qTESLA_I 1`
`/* #define OQS_ENABLE_SIG_qTESLA_III_size*/`
` ...`
this means `qTESLA_I` is enabled and `qTESLA_III_size` is not.

OpenSSH should also be able to enable and disable the use

[2019-09-27 18:47] christianpaquin opened #45 "Update build documentation"
The `README.md` build instructions differ from what we use in the `oqs_test/scripts/build_openssh.sh`. In particular, the ` --with-libs=-lm` param is missing, which caused a build failure on my system when trying to build following the README instructions.

We should review the documented steps to make sure they work.

[2019-09-27 19:42] dstebila commented on #44
See https://github.com/open-quantum-safe/openssl/issues/122#issuecomment-536072028.

[2019-10-01 20:49] dstebila commented on #45
Fixed by 9bdff2d4543ec8c8494f63f910c2786c35e08edc.

[2019-10-01 20:49] #45 closed, assigned to nobody

[2019-10-10 14:04] christianpaquin opened #47 "keyscan test failing"
The keyscan test (invoked when running `make tests`) fails for the OQS algs.

@dstebila, @xvzcf, can you repro this?

[2019-10-10 15:22] christianpaquin commented on #47
I created PR #48 to run `make tests` in CI, and it is also failing the keyscan test.

[2019-10-10 16:46] xvzcf commented on #47
I reproduced it yesterday; The problem is that the path to `ssh-keyscan` in the `keyscan.sh` test is set by default in `test-exec.sh` to just `ssh-keyscan` (as seen [here](https://github.com/open-quantum-safe/openssh-portable/blob/OQS-master/regress/test-exec.sh#L74)), which means it is the system version that is being tested, not the one we built.

The paths to the `ssh`, `sshd`, etc. executables

[2019-10-10 17:22] christianpaquin commented on #47
Perhaps we should move the `make tests` instruction after the `make install` in the script.

[2019-10-10 17:27] xvzcf commented on #47
We could do that, provided we pass the install `${PREFIX}` to `make tests` as well.

[2019-10-17 20:21] xvzcf commented on #47
I've deleted my earlier comments as I was wrong about the cause of the failures. It is not a path issue as I thought earlier, and I will provide further updates as I make progress.

[2020-02-12 19:51] dstebila opened #51 "Add more algorithms from liboqs"
- [ ] Kyber 90s
- [ ] ThreeBears
- [ ] Dilithium3
- [ ] MQDSS 31-64
- [ ] Raibow
- [ ] SPHINCS+

[2020-03-04 21:40] dstebila opened #53 "Sync with upstream OpenSSH v8.4-p1 release"

[2020-04-14 15:48] christianpaquin commented on #53
I updated the issue title to sync to [v8.2](https://www.openssh.com/txt/release-8.2) (vs. v8.1), released on 2020-02-14.

[2020-05-07 21:12] christianpaquin commented on #53
This is a bit more complicated than I expected; although not that surprising given that going from v7 to v8 is a major release. I did an initial merge of the code ([here](https://github.com/christianpaquin/openssh-portable/tree/cp-v8_2)); there is some code that will need to be reviewed for potentially unknown side-effects, and I'm having trouble compiling the project because the build instruction

[2020-06-09 20:43] christianpaquin commented on #51
Addressed by PR #54.

[2020-06-09 20:43] #51 closed, assigned to christianpaquin

[2020-06-23 15:25] dstebila commented on #47
Check this after #53

[2020-07-14 23:08] dstebila opened #60 "Remove Picnic 2 and add Picnic 3, unpin from liboqs 0.3.0"

[2020-07-14 23:10] dstebila commented on #25
Do we still want to do this?  If no, please close issue.

[2020-07-14 23:11] #44 closed, assigned to nobody

[2020-07-14 23:11] dstebila commented on #44
Won't fix.

[2020-07-15 13:26] christianpaquin commented on #25
Not urgent.

[2020-07-15 13:26] #25 closed, assigned to christianpaquin

[2020-07-15 22:54] #60 closed, assigned to christianpaquin

[2020-10-23 00:32] dstebila opened #66 "Update hybrid key exchange format to match Internet-Draft"
https://tools.ietf.org/html/draft-kampanakis-curdle-pq-ssh-00

[2020-11-24 15:05] dstebila opened #70 "Add HQC round 3"
https://github.com/open-quantum-safe/liboqs/pull/851

[2020-11-24 21:25] #70 closed, assigned to nobody

[2020-11-25 01:16] kevinmkane opened #73 "ssh-keygen generates P-256 keys for p384_rainbowiiicclassic and p521_rainbowvcclassic when referring to them by short name"
Keys of these two types generated by ssh-keygen cause ssh to complain "invalid format" when provided for client authentication. Keys for the pure-PQ versions of these algorithms work fine, as do keys for p256_rainbowiaclassic.

Setup for the experiment:

1. `ssh-keygen -t RAINBOWIACLASSIC -q -N "" -f id_rainbowiaclassic`
2. `ssh-keygen -t RAINBOWIIICCLASSIC -q -N "" -f id_rainbowiiicclassic`
3. `s

[2020-11-25 15:54] dstebila commented on #73
Hi Kevin, this reminds me of the problems we encountered with Rainbow III and V in SSH that we reported in Table 2 and Section 4.2 of our [2019 paper on TLS and SSH integrations](https://eprint.iacr.org/2019/858).  At the time we didn't figure out how to get it working, and haven't made any progress since then.  At least as far as I can remember.  @xvzcf any other thoughts?

[2020-11-25 16:24] kevinmkane commented on #73
This seems to happen while ssh is attempting to load the private key file, not send the public key over the network, though it's certainly possible it's running into some other size limit. I may poke at it a bit more, but thought I'd put the report out there in case something obvious occurred to you all. A file load problem seemed like it might (dare I dream) be more straightforward.

[2020-11-25 17:05] xvzcf commented on #73
Most (but perhaps not all) issues in that paper should've been fixed in [this commit](https://github.com/open-quantum-safe/openssh/commit/b452beeb20f28b4e3af4b77c19855ed891a36ec8). I did have to increase size limits in various places (like [here](https://github.com/open-quantum-safe/openssh/commit/b452beeb20f28b4e3af4b77c19855ed891a36ec8#diff-4541d53042b064e61bbf4e8884081b586d8ca22769f101f3136b274

[2020-11-25 17:09] xvzcf commented on #73
At any rate, I'll try looking into this in a week or two if there isn't a solution by then.

[2020-11-25 20:45] kevinmkane commented on #73
ssh-keygen is generating P-256 keys for these two schemes when ssh-keygen is given their "short names" as the -t parameter (which is by far the norm). When these keys later get loaded, the curve nid doesn't match anything in the keytypes table, and so the keys are dismissed as unknown.

#74 corrects this behavior by always coercing the required number of classical bits to the correct number when c

[2020-11-30 15:11] xvzcf commented on #73
Closed by https://github.com/open-quantum-safe/openssh/pull/74

[2020-11-30 15:11] #73 closed, assigned to nobody

[2020-12-04 18:33] ljoy913 opened #75 "Template casing error results in malformed name for SIKE_P434_COMPRESSED algorithm."
openssh/oqs-template/**generate.yml**

   NAME: "SIKE_P434_COMPRESSED"

'NAME' should be lowercase, as the other instances. When the templates are generated, the name for this algorithm is malformed.

For example, in myproposal.h:

#define KEX_PQ_METHOD_SIKE \
    PQ_OQS_KEX_METHOD("sike-p434-sha384") \
    PQ_OQS_KEX_METHOD("sike-p503-sha384") \
    PQ_OQS_KEX_METHOD("sike-p610-sha384") \
    PQ_

[2020-12-08 22:22] dstebila commented on #75
Can you see if #76 fixes it for you?

[2020-12-08 22:22] dstebila commented on #75
@xvzcf Any idea why tests didn't fail for this?

[2020-12-09 14:35] xvzcf commented on #75
Will investigate.

[2020-12-09 21:56] kevinmkane opened #77 "Constants for compressed SIKE-P434 pure and hybrid key exchange algorithms are incorrectly named"
This looks like a problem with the template. Where `SIKE_P434_COMPRESSED` or `sike-p434-compressed` should appear in the code as an identifier or part of a string, respectively, it is absent. This results in:

https://github.com/open-quantum-safe/openssh/blob/af67d4ec892fba08b7d7071ea8b3efc675237911/kex.h#L119
https://github.com/open-quantum-safe/openssh/blob/af67d4ec892fba08b7d7071ea8b3efc6752379

[2020-12-09 21:56] kevinmkane commented on #77
Dupe of #75.

[2020-12-09 21:56] #77 closed, assigned to nobody

[2020-12-11 14:19] #75 closed, assigned to nobody

[2021-01-11 11:15] xykro opened #83 "Minor mistake in README.md"
The information about [which algorithms are enabled by default](https://github.com/open-quantum-safe/openssh#digital-signature) is slightly wrong. It is mentioned that

where in reality only the classical variants are actually enabled (referring to [oqs-template/generate.yml](https://github.com/open-quantum-safe/openssh/blob/OQS-master/oqs-template/generate.yml)).

[2021-01-12 06:42] baentsch commented on #83
Thanks for this report. You're right and we fix it with #84.

[2021-01-12 20:05] #83 closed, assigned to nobody

[2021-02-28 23:15] vt-alt opened #87 "Interop with stock/non-PQ openssh failing"
When logging in from OpenSSH_7.9p1 client to OQS-OpenSSH_7.9-2020-08_p1 server there is a connection error:
[code]
When logging in from OQS-OpenSSH_7.9-2020-08_p1 client to the same server there is no error.

[2021-04-16 17:59] xvzcf opened #89 "Figure out why certain tests are failing."
We should figure out why the tests [here](https://github.com/open-quantum-safe/openssh/blob/openssh-8/oqs-test/run_tests.sh#L9) fail and try to enable as many of them as we can.

[2021-04-16 18:00] xvzcf opened #90 "OpenSSH 8.4: Figure out if the regression suite can be augmented"
The OpenSSH regression suite is quite comprehensive, but perhaps there's more OQS-related tests we can add to it.

[2021-04-16 18:07] xvzcf opened #91 "OpenSSH 8.4: Add remaining algorithms"
8.4 only has [a few](https://github.com/open-quantum-safe/openssh/blob/openssh-8/oqs-template/generate.yml) OQS algorithms at the moment. We should add the rest in once we deal with https://github.com/open-quantum-safe/openssh/issues/89 and https://github.com/open-quantum-safe/openssh/issues/90

[2021-04-21 19:23] xvzcf commented on #47
Superseded by https://github.com/open-quantum-safe/openssh/issues/89

[2021-04-21 19:23] #47 closed, assigned to nobody

[2021-04-23 20:59] dstebila opened #92 "Make OQS_v8 the default branch in this repo"

[2021-05-07 15:33] huaraz opened #93 "Cygwin support"
Is it possible to add cygwin support ?  I get asm compile errors e.g.

$ ninja
[18/1508] Building ASM object src/kem/...les/bike1_l1_fo.dir/additional/red.S.o
FAILED: src/kem/bike/CMakeFiles/bike1_l1_fo.dir/additional/red.S.o
/usr/bin/cc -DAVX2 -DFUNC_PREFIX=OQS_KEM_bike1_l1_fo -DLEVEL=1 -Iinclude -I/usr/include -fPIC -march=native -Werror -Wall -Wextra -Wpedantic -Wstrict-prototypes -Wshadow -Wfo

[2021-05-10 09:37] baentsch commented on #93
Thanks for your interest in our project as well as the suggestion. Is this more of a [liboqs issue](https://github.com/open-quantum-safe/liboqs/issues)? I don't have a cygwin environment at my disposal, so pardon the question: Can you build and run `ninja run_tests` using cygwin OK in that project?

[2021-05-10 23:03] huaraz commented on #93
Oh sorry, you are right. I'll post it  under liboqs.

Markus

[2021-05-10 23:03] #93 closed, assigned to nobody

[2021-05-14 07:39] huaraz opened #94 "Windows native version"
Would you know if the "native" Windows 10 version of openssh build with MSVC ?  Would it be possible to have oqs-openssh also build with MSVC ?

Thank you
Markus

[2021-05-15 13:53] huaraz opened #95 "Cygwin install issue"
Hi

   I used the updated liboqs, but I get still the below install error. i.e. PICNIC related keys can not be created.

/usr/local/ssh_config already exists, install will not overwrite
/usr/local/sshd_config already exists, install will not overwrite
/usr/local/moduli already exists, install will not overwrite
ssh-keygen: generating new host keys: PICNIC_L1FULL PICNIC3_L1 RAINBOW_V_CLASSIC /bin/s

[2021-05-15 14:18] baentsch commented on #95
Hi Markus, is it only Picnic keys that fail or all PQ-signature algorithms (say, dilithium3, too)?

[2021-05-16 00:08] huaraz commented on #95
These 8 fail:

PICNIC_L1FULL
PICNIC3_L1
RAINBOW_V_CLASSIC
RSA3072_PICNIC_L1FULL
RSA3072_PICNIC3_L1
P256_PICNIC_L1FULL
P256_PICNIC3_L1
P521_RAINBOW_V_CLASSIC

Markus

[2021-05-20 06:37] baentsch commented on #91
So by working this issue, we decided to postpone #89.

Now, when following the build-and-test instructions in the documentation, `make tests` fails:
[code]
--> Looking at `oqs-test/run-tests.sh` I suppose this is a known failure and missing in the set-up documentation, right?

Also "irritating" is that _no_ OQS tests get executed when doing as documented:
[code]
Again, is this a case of missing do

[2021-05-20 15:06] baentsch commented on #95
Thanks for this information. Do you have urgent need for these algorithms or can you make do for now with the rest? We'd prefer to look into this issue in the new code base (after #91 is resolved): OK for you?

[2021-05-20 15:57] xvzcf commented on #91
Yes this does look like a known failure. Does `oqs-test/run-tests.sh` pass?

Yes this is a case of missing documentation. The current (incomplete) set of test commands can be found in the [config.yml](https://github.com/open-quantum-safe/openssh/blob/OQS-v8/.circleci/config.yml), and I can update the README in `OQS-v8`.

Yes, this is intentional (so that the python script does not have to set up t

[2021-05-20 16:14] baentsch commented on #91
No longer :-) If you give it a parameter, it iterates through all alg combinations.

OK, will debug into it.

[2021-05-20 17:21] xvzcf commented on #91
A potential problem here is that we'd be taking ~2 hours to run the tests, just like before. I avoided doing all the combinations for that reason. My preference would be to augment the built-in regression tests first before looking at `try_connection.py`.

[2021-05-20 17:57] baentsch commented on #91
I'd also prefer that for regular (CI) operations. But this parameter delivers a fast way to check end-to-end if everything works: I wasn't exactly anxiously looking forward to diving into understanding the openssh test suite logic....

[2021-05-20 23:31] huaraz commented on #95
Hi Michael,

  There is no urgency. It is just a feedback which might help improve it.

Markus

[2021-05-21 13:28] baentsch commented on #91
@xvzcf FYI an update: `try_connection.py` now changed to run each QSC algorithm exactly once ([run here](https://app.circleci.com/pipelines/github/open-quantum-safe/openssh/507/workflows/006c984d-5c02-48cb-afc1-97555e22f250/jobs/3703)) if passed the parameter "doone": Fast _and_ (reasonably) thorough, so a good compromise. If given no parameter, it still only tests one combination randomly; if giv

[2021-05-22 07:10] baentsch commented on #91
Answering my own question: Yes, this switch alone makes more than 64 (maybe only 32 for small platforms?) signature algorithms a bad idea: https://github.com/open-quantum-safe/openssh/blob/371c2e51ea716e1235be0d087d95822d5c69a4c3/ssh-keyscan.c#L800-L802

--> Adding sig-algorithm en/disablement logic into the code generator (YML and logic).

But even then, basic tests on simple algorithms begin to

[2021-05-24 07:42] baentsch commented on #87
This is logical as some OQS algorithms are blowing the packet size limit of a "stock" `openssh`: See this: https://github.com/open-quantum-safe/openssh/blob/c600d653b6ce79c81f98d674e99c16d816008301/packet.c#L102-L105

[2021-05-24 07:42] baentsch commented on #91
Problem was a buffer size limitation: https://github.com/open-quantum-safe/openssh/blob/371c2e51ea716e1235be0d087d95822d5c69a4c3/packet.c#L106 --> way too small for the combination McEliece & Rainbow.

Merging #97 closes this issue for good.

[2021-05-24 08:01] baentsch opened #98 "Investigate OpenSSH slowdown due to Rainbow"
When #97 has landed, it would be goodness to find out why everything slows down by at least an order of magnitude if a Rainbow L3 algorithm is activated.

[2021-05-24 14:22] baentsch commented on #94
Hi Markus, courtesy @christianpaquin here's a pointer as to how to build openssh for "native Windows" (using Powershell and MSVC): https://github.com/PowerShell/openssh-portable/tree/latestw_all/contrib/win32/openssh

We have not tried this ourselves but would be glad to hear about your experiences (as well as possible adaptations needed).

[2021-05-25 06:13] baentsch commented on #95
Thanks again. FYI, running on PR-branch `mb-v8test` the problem you describe does not seem to happen (activating some more algs for test purposes -- all using cygwin):
[code]
--> Will probably now create a cygwin-based CI environment for `oqs-openssh (v8.4)` to catch such things going forward. Sufficient for you? If so, you'll be notified when this has landed.

[2021-05-25 07:57] baentsch opened #99 "Add Appveyor CI"
At least minimal Windows CI -- using cygwin for starters

[2021-05-25 12:53] baentsch opened #100 "8.4 README example error"
Continuing a discussion from #91 regarding `ssh` and `sshd` command line examples:

@xvzcf : I traced this down to a routine peeking into the `sshbuf`: https://github.com/open-quantum-safe/openssh/blob/c600d653b6ce79c81f98d674e99c16d816008301/sshbuf-getput-basic.c#L150 and that routine just delivers "ssh-" instead of "ssh-dilithium3" as it would be expected. This is on the client side; the server

[2021-05-25 16:24] xvzcf commented on #100
I think I have an idea, let me investigate.

[2021-05-31 13:14] baentsch commented on #95
If you have time, could you please check branch [OQS-v8](https://github.com/open-quantum-safe/openssh/tree/OQS-v8) as to whether this "behaves better" wrt to this issue and your use case? We'll soon make it the new "main" branch, deprecating support for opensshv7. Thanks in advance for your feedback.

[2021-05-31 18:22] huaraz commented on #95
Hi Michael,

  This branch worked w/o issues.

Markus

[2021-06-01 05:05] baentsch commented on #99
Closed by #101

[2021-06-01 05:05] #99 closed, assigned to baentsch

[2021-06-01 05:06] baentsch commented on #95
Thanks for this confirmation. So we'll close this issue when #92 closes.

[2021-06-01 05:09] baentsch commented on #91
Closed by #97

[2021-06-01 05:09] #91 closed, assigned to baentsch

[2021-06-01 05:13] baentsch commented on #53
Can't this be closed with the availability of the OQS-v8 branch?

[2021-06-01 17:28] #53 closed, assigned to christianpaquin

[2021-06-02 20:25] vt-alt commented on #87
@baentsch Thanks for the answer! But isn't this is major incompatibility with common openssh (making it impossible to connect to/from oqs-openssh)? [I don't use some OQS algorithms in the connection example.]

Maybe this situation could be improved so that when OQS algorithms are used packet size is increased, but when they aren't packet size is normal? Otherwise only oqs-openssh <-> oqs-openssh c

[2021-06-02 20:33] vt-alt commented on #87
To add context — I was willing to create an **experimental** oqs-openssh package for ALT Linux, but if `openssh` cannot be replaced with `oqs-openssh` people cannot use it in practice as they will not be able to ssh to non OQS hosts anymore.

[2021-06-03 00:53] dstebila commented on #87
Unless I misunderstand, having a larger `PACKET_MAX_SIZE` should allow the an oqs-openssh client and server to send and receive larger packets than plain openssh, but they would only do so if a (large) PQ algorithm is being used. When an oqs-openssh client proposes a non-PQ suite to a plain openssh server, that packet would be just as small as it originally was, and the plain openssh server should

[2021-06-03 01:17] dstebila commented on #100
@xvzcf This is the only thing we're waiting on for making OpenSSH v8 the default. Will you be able to take a look in the next few days?

Updated to add: Actually, should say that @baentsch thought this was the only thing we're waiting on for making OpenSSH v8 the default, do you agree @xvzcf?

[2021-06-03 04:16] baentsch commented on #87
This is also my understanding. _However_ @vt-alt you have a point in that your example was not actively using PQ; thus, your example should have worked/connected. Now understanding the ultimate goal of your test (ensuring PQ/non-PQ ssh interop), let me re-open the issue with a different title.

[2021-06-06 01:00] xvzcf commented on #100
Looks like I introduced the bug through [these lines](https://github.com/open-quantum-safe/openssh/blob/OQS-v8/ssh-oqs.c#L75). I've fixed it, will upload a PR tomorrow or the day after updating the test suite to test the README commands as well.

[2021-06-06 17:47] baentsch commented on #87
@vt-alt I now finally found time to re-do what you tried and everything worked perfectly: stock client -> OQS-sshd and also OQS-ssh -> stock sshd(s). Admittedly, I tried only the [OQS-v8 branch](https://github.com/open-quantum-safe/openssh/tree/OQS-v8) which is (quickly becoming) our new main branch with ED25519.

Now, some questions: Are you absolutely certain that no PQ-signature algorithms got

[2021-06-06 19:31] vt-alt commented on #87
Of course, `sshd` is started with OQS algorithms enabled. Do you suggest disabling them? If so there is still no interop with generic OpenSSH as users cannot run OQS OpenSSH server and connect to the host from generic OpenSSH client.
[code]
This is the log of faulty connection on the server side.

[2021-06-06 19:40] vt-alt commented on #87
For the completeness I just tested with `/usr/sbin/sshd -d -h /etc/openssh/ssh_host_ed25519_key` and this does not cause connection errors. So, problem only if OQS algorithms are enabled on the server side.

[2021-06-06 20:10] vt-alt commented on #87
[Btw, if it will support ED25519 as a hybrid algorithm with OQS algorithms that would be really nice, because of the popularity of ED25519.]

I think the choice should be given to the end-users — the server should run with OQS enabled, but client users should be able to choose to connect with OQS (if they enable it) or using generic algorithms and generic OpenSSH clients. That way generic OpenSSH

[2021-06-07 05:57] baentsch commented on #87
Thanks for that confirmation -- that then might explain things: As soon as one of the "crazy big" algorithms is enabled, the larger --and incompatible-- buffer size might be triggered. I need to read up on the SSH protocol to understand if/when this occurs (maybe the server proposes them all to the client and in so doing the problem hits? Maybe @dstebila or @xvzcf you already know?). Might disabli

[2021-06-07 15:29] dstebila commented on #87
If memory serves, we only increased `PACKET_MAX_SIZE`, which is an OpenSSH buffer size, but not the size of any length fields in the protocol because the SSHv2 protocol itself had 32-bit length fields which are sufficient.  See the discussion in sections 3.3 and 4.2 of https://eprint.iacr.org/2019/858.

Perhaps Michael's last sentence quoted above is on to something: if the OQS-OpenSSH installatio

[2021-06-07 22:38] vt-alt commented on #87
Further experiments show that when I disable any one of the following keys `Bad packet length` error disappears and I can ssh successfully: `ssh_host_p256_rainbowiclassic_key`, `ssh_host_rsa3072_rainbowiclassic_key`.
Disabling `*sphincs*` keys does not affect the connection. So, "bad" keys are `rainbow`.

Also, my sshd build has disabled in `oqs-template/generate.yml` — RAINBOW_III_CLASSIC and RAI

[2021-06-09 08:15] baentsch commented on #100
Closed by #103

[2021-06-09 08:15] #100 closed, assigned to xvzcf

[2021-06-09 16:07] baentsch commented on #92
@dstebila @xvzcf : What'd be needed to do this switch?

[2021-06-09 20:19] baentsch commented on #98
After checking [this](https://openquantumsafe.org/benchmarking/visualization/speed_sig.html) one can be excused for being surprised the system doesn't slow down more than a factor of ten when Rainbow is active: Keygen (done during test and install) is about 3 orders of magnitude slower than reasonable OQS sig algs --> Suggest to disable Rainbow for good by default -- also along the lines discussed

[2021-06-11 12:30] baentsch commented on #87
I'm no particular fan of Rainbow and wouldn't mind you drop it completely from your packaging... But then again, we (want to) try to support all QSC algs wherever possible... So I wonder:
1) Are you OK with the status of things as-is? If so, shall we close this issue?
OR
2) Should we try to create a variant in which Rainbow could be supported by the client (only)? That way (`sshd` without Rainbow,

[2021-06-11 13:40] vt-alt commented on #87
I'm OK and we can close the issue. I will disable Rainbow as it significantly reduce overall user experience of sshd (in compare to other algos), because of its slowness and big packet issue. But, of course, to support it on client-only would be better (if user wants to connect to a 3rd party sshd). I will enable it if this option is available. Thanks!

[2021-06-15 12:42] dstebila commented on #92
Just the go ahead from whoever has an opinion.  I can make the switch in the Github configuration easily.

[2021-06-15 12:58] baentsch commented on #92
My opinion would be to do it as and when https://github.com/open-quantum-safe/oqs-demos/pull/88 passes CI.

[2021-06-15 13:01] dstebila commented on #92
Okay, I'll watch for that.

[2021-06-15 14:32] dstebila commented on #92
Done.

Shall I rename OQS-master to OQS-v7 as well, or does anything depend on it still being called OQS-master?

[2021-06-15 14:32] #92 closed, assigned to nobody

[2021-06-15 14:44] baentsch commented on #92
Thanks.

Well, old build scripts depend on that (should someone want to re-build v7 stuff). Generally I don't see value in re-naming it -- unless we want it to eventually refer to the true "master" (err, "main").

[2021-06-15 14:47] dstebila commented on #92
Okay we'll leave it.

[2021-06-15 14:48] baentsch commented on #98
Closed for v7 with #105 ; oqs-v8 doesn't enable Rainbow by default any more. `oqs-demos` also updated accordingly.

[2021-06-15 14:48] #98 closed, assigned to nobody

[2021-06-15 14:48] #95 closed, assigned to nobody

[2021-06-16 13:20] #87 closed, assigned to nobody

[2021-07-01 05:29] baentsch opened #108 "Remove BIKE R2 and KEM/SIG default algs"

[2021-07-03 05:34] #108 closed, assigned to nobody

[2021-08-09 06:04] prchander opened #110 "SSH server start question"
Hello, this is just a question. I keep getting "sshd: no hostkeys available -- exiting." but I store my keys in ~/home/user/.ssh and I use this command to start the server "{opensshDir}./sshd -D -f {opensshDir}/sshd_config -o KexAlgorithms=kyber-512-sha256 -o HostKeyAlgorithms=ssh-dilithium3 -o PubkeyAcceptedKeyTypes=ssh-dilithium3 -h /home/user/.ssh/id-dilithium3"

Is there something that I am mi

[2021-08-09 13:55] dstebila commented on #110
I don't recall ever trying to run it in that configuration.  To be clear you're trying to use the server (host) key from your home directory?

[2021-08-09 15:51] prchander commented on #110
Yes. Should I move them to regress?

[2021-08-09 16:04] baentsch commented on #110
Can you please post the output you're getting? A `mv` to regress doesn't sound like a good solution. Edit/additional question: Did you build oqs-openssh using the build script or did you pass different parameters to `./configure`? If so, which? Oh, and how did you create your host key file: Are you certain it is correct?

[2021-08-09 17:01] prchander commented on #110
I followed the script and no additional parameters were passed to ./configure.

The following script was used to create the keys
./ssh-keygen -t ssh-dilithium3
This by default saves it to .ssh

**I wrote the server code in a python script**
pi@pi:~/openssh/code$ python3 server.py
Unable to load host key: /home/pi/.ssh/id-dilithium3
sshd: no hostkeys available -- exiting.

[2021-08-09 17:20] baentsch commented on #110
Are you using the (host key file) name "id_dilithium3" (underscore: keygen-default) or "id-dilithium3" (hypen/dash: Wouldn't be found)?

[2021-08-09 17:35] prchander commented on #110
Just caught that error and corrected the python script. Unfortunately, I am getting additional errors:

**Modified code:**
{opensshDir}./sshd -D -f {opensshDir}/sshd_config -o KexAlgorithms=kyber-512-sha256 -o HostKeyAlgorithms=ssh_dilithium3 -o PubkeyAcceptedKeyTypes=ssh_dilithium3 -h /home/pi/.ssh/ssh_dilithium3

pi@pi:~/openssh/code$ python3 server.py

command-line line 0: Bad key types 'ssh_di

[2021-08-09 17:40] baentsch commented on #110
Same question (again :-) More seriously: You may want to check the permissible key type names (e.g., in `sshkey.c`). Edit: No, I have no clue why the types have a dash and the files an underscore... Maybe something historical (?)

[2021-08-10 05:07] baentsch commented on #66
Out of curiosity: Did the IETF draft mentioned above get a revision that's still valid or shall we drop this issue as the spec seems to be expired (?not of interest?)

[2021-08-11 17:06] prchander commented on #110
Probably something historical with file names. I got everything fixed and just wondering what the server is supposed to do if it accepts everything. Currently I have no errors, but I expected the server to be in a loop searching for connections:

pi@pi:~/openssh/code$ python3 server.py

pi@pi:~/openssh/code$

[2021-08-11 18:28] baentsch commented on #110
I don't recall any file ''server.py" to be part of our code base, so would you object to closing this issue? Or is there a concrete question related to oqs-openssh?

[2021-08-12 21:08] prchander commented on #110
I created the server.py code just to make writing the script easier. The python script contains this:

{opensshDir}./sshd -D -f {opensshDir}/sshd_config -o KexAlgorithms=kyber-512-sha256 -o HostKeyAlgorithms=ssh-dilithium3 -o PubkeyAcceptedKeyTypes=ssh-dilithium3 -h /home/pi/.ssh/id_dilithium3

my question was that running the server script does not result with a loop like with TCP/TLS with OpenSS

[2021-08-13 04:59] baentsch commented on #110
Again, I've got to ask that you post the (also error) output of `sshd`. Without that I can't comment (and don't want to guess -- although I'm already now pretty certain it's a port permission error).

[2021-08-22 19:59] vt-alt opened #111 "ssh-keygen: generating new host keys: DILITHIUM_3 malloc(): corrupted top size"
After upgrading to OQS-OpenSSH-snapshot-2021-08 ssh-keygen crashes failing sshd.service.
[code]
[code]
Run in valgrind does not crash but produces multiple warnings::
[code]

[2021-08-27 11:16] baentsch commented on #111
Can you please share more information as to how to reproduce this issue? Platform? build options? liboqs version?

Edit: Just rebuilt everything on a local Linux machine (Mint 19/Ubuntu Bionic, x86_64, liboqs current main (0.7.0-dev)) and everything works just fine (after explicitly deleting only the already successfully built Dilithium3 key):
[code]

--> If the issue persists for you, please shar

[2021-08-27 11:17] baentsch commented on #110
Closing (probable local port permission error).

[2021-08-27 11:17] #110 closed, assigned to nobody

[2021-08-28 22:19] vt-alt commented on #111
I think I found the cause of problem. (I build OQS packages for ALT Linux).

It seems, when I installed new `openquantumsafe-openssh` the `liboqs` package is not updated to latest and there is subtle ABI difference causing crash for DILITHIUM.
So, this is seems my fault. We have automatic dependency resolver which is was depending upon, but it works by comparing list of the library symbols and can

[2021-08-28 22:19] #111 closed, assigned to nobody

[2021-08-29 08:27] vt-alt commented on #111
I try to think over this problem, and I think it's partly because of incorrect _library versioning_ of the `liboqs`. Currently, it just mirrors it project versioning, but library versioning (or 'API versioning') is a different thing and should be maintained separately. See https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html
Cmake have SOVERSION attribute for this too.

[2021-08-29 10:59] baentsch commented on #111
Thanks very much for the pointers and education. I tend to agree that we're indeed not following reasonable practices.

Personally I tend to agree and we'd need to improve. The function removal pointed out above also comes a bit as a surprise to me.

--> ~Would you want to rename (and re-open) this issue or~ create a separate new one only highlighting this library versioning issue? Edit: Disregard

[2021-08-29 23:09] vt-alt commented on #111
JFYI. To fix the problem with our package I just increased `SOVERSION` of liboqs to `1` (see the patch below) and rebuilt both liboqs 0.7.0 and OQS openssh 8.6p1.202108 so they get linked properly and would be updated in accord. (That solution looked better than manually setting version dependency).

[code]

[2022-01-27 07:41] baentsch opened #115 "Drop support for v7.x branches"
To reduce the number of code versions to be supported in this project, [it seems to be possible to use openssh v8 for libssh testing](https://github.com/open-quantum-safe/libssh/issues/5)

-> Doable & sensible?

[2022-01-28 18:26] zt3ph4n opened #116 "Wireguard support?"
Would it be possible to use the liboqs and thus the new algo's in Wireguard?
I'm not a coder myself, thou i'd really love to see a "OQS-Wireguard" fork, if not too much work?
(Don't wanna use M$ 'PQ-VPN' - lack of trust, open-source or not.)

Another OT-q; which one is the safest (toughest) of the liboqs algo's & which one is the speediest?
Read somewhere 'Picnic'-algo is fast & secure against qua

[2022-01-28 21:45] dstebila commented on #116
There's been some research on adding post-quantum algorithms to Wireguard, see https://eprint.iacr.org/2020/379.pdf.  Since that's already underway, we don't have plans to specifically connect OQS with Wireguard in this project.

There's no simple answer to that.  I suggest waiting for the forthcoming selections by NIST to help narrow things down.

Filesystem encryption generally uses symmetric, r

[2022-01-28 21:45] #116 closed, assigned to nobody

[2022-02-01 17:00] zt3ph4n opened #117 "Update to latest OpenSSH?"
Just a q, if you're going to upgrade main OpenSSH to latest (8.8p1)? - else i go with this one that you got, 8.4p1...

Best regards!

[2022-02-01 17:27] zt3ph4n opened #118 "Unable to compile under Debian 11"
I get errors such as these, thou i've got OpenSSL 1.1.1m (your fork) and libqos installed.
See attached screenshot;
[Screenshot of error while compiling](https://delafil.se/858f978605ea4ec8/Screenshot_20220201-182113704.jpg)

Thx f any help!
/z

[2022-02-01 19:22] baentsch commented on #118
I fail to see in this screenshot what _caused_ the compiler terminations shown: There must have been an initial error leading to the termination of the compiler runs as shown in the screenshot. Please paste the logfile: Much better to review than a screenshot...

[2022-02-02 05:23] baentsch commented on #117
We don't have immediate plans to do such update. If you know of (and/or need) specific new 8.8 features, please let us know so we can re-prioritize.

[2022-02-03 13:01] zt3ph4n commented on #118
This is a link to what my log spitted out upon running oqs-scripts/build_openssh.sh;
https://0bin.net/paste/L6+kv8ce#YX3h8SLrwK5PAw8hEQ24YcTCplKsYrh+u38enPLPswo
Noticed there were errors & must adhere to the compile-failure.
*Sigh*

[2022-02-03 13:55] #118 closed, assigned to nobody

[2022-02-03 19:07] zt3ph4n commented on #116
Okay , i see, thanks for the url!

[2022-02-03 21:55] z-ph0ria commented on #116
https://0bin.net/paste/e8lygMN1#THhfTvUFFF2syYtE0rpaSK0uCiKDSfhDR6V517GcKFm

This is me running oqs-tests/run_tests.sh gives me.

[2022-02-03 21:57] zt3ph4n commented on #118
https://0bin.net/paste/e8lygMN1#THhfTvUFFF2syYtE0rpaSK0uCiKDSfhDR6V517GcKFm

This is what oqs-template/run_tests.sh gives.

[2022-02-03 21:58] zt3ph4n commented on #118
If you have any insight what i should do, please give me any advice,
Thanx in advance!
Regards,
z

[2022-02-04 09:04] zt3ph4n commented on #117
Because there are security-fixes & omitting the rsa (sha1) completely etc.?
Or maybe you got it covered?
Just asking...

[2022-02-05 06:08] baentsch commented on #118
This link does not work.

[2022-02-09 23:57] kevinmkane opened #119 "v8 branch pure-PQ KEMs do not use mpint representation for shared_secret in SSH KDF"
When deriving the various keys in `kex_derive_keys`, the pure-PQ functions that handle encrypting and decrypting the shared secret, `kex_kem_generic_enc` and `kex_kem_generic_dec`, write only the shared secret data itself into the buffer that is later input to the KDF. They call `sshbuf_reserve` and pass a pointer directly into the buffer contents to `OQS_KEM_encaps` or `_decaps`. The SSH spec req

[2022-02-09 23:58] kevinmkane commented on #119
I may have a PR for this soon, but wanted to get it written up in case anyone spots a problem with my reasoning.

[2022-02-10 15:33] dstebila commented on #119
Certainly I'll agree that the v7 and v8 implementations should use the same encoding method.

That being said, I don't agree with the original SSH spec's choice to use mpint as the encoding method for the shared secret. mpint drops leading zeros, which is risky from a side-channel perspective.  For an updated revision of the hybrid draft, we're discussing whether to [switch to string rather than m

[2022-02-10 16:45] kevinmkane commented on #119
It seems like this danger exists no matter the key exchange method, and is not unique to pure PQ KEM. That's an argument to change the SSH spec's treatment of the shared secret entirely, and that's a way bigger problem than I want to tackle here!

For things we can affect, I'd favor sticking with mpint _for now_ for the following reasons:
1. The v7 branch in both pure and hybrid KEMs use this form

[2022-02-10 19:03] dstebila commented on #119
Fair enough.

Okay.  If the SSH hybrid Internet-Draft switches from mpints to strings, then we can revisit.

I'm a bit confused by this point.  Are you saying that in the places where our implementations are saying they're using mpint's, they are actually not dropping leading zeros?

[2022-02-10 20:20] kevinmkane commented on #119
For PQ and hybrid KEMs, that’s correct. Internally they’re handled as byte arrays and written out as SSH strings.

[2022-02-11 14:22] dstebila commented on #119
Okay, we should fix that to be consistent with what the current drafts / specs say, and then indeed deal with whether mpint or string is a safer choice later.  Are you working on a PR for any of this?

[2022-02-11 17:27] kevinmkane commented on #119
I have a PR in progress to change pure PQ KEMs to behave the same way as hybrids do, and as both did in v7: technically an mpint, but leading zeroes are not dropped because it's really an SSH string. I have not yet looked at dropping leading zeroes.

If it's acceptable to you, I'd prefer to only make this change now to OpenSSH, so OpenSSH doesn't change any more than it has to, just because there

[2022-02-16 15:14] dstebila commented on #119
This is related to an old issue, #66. A PR that resolves this issue should also resolve that one.

[2022-02-16 17:11] kevinmkane commented on #119
Alright. I'll move ahead with my small PR just to turn it back into basically an `ssh_string` to unblock me, and consider this issue resolved when that's done, and leave the larger issues of doing properly zero-trimmed `mpint`s or officially switching to a string to be resolved in #66.

[2022-02-17 19:10] #119 closed, assigned to nobody

[2022-02-22 20:57] kevinmkane commented on #115
open-quantum-safe/libssh#6 was merged today. That is my update to the libssh implementation to interoperate with the OQS-OpenSSH v8 branch, so the v7 branch should no longer be needed there.

[2022-02-23 08:54] baentsch commented on #115
Thanks, @kevinmkane ! Before closing this for good, can I ask whether it'd be OK for you to drop the code version "tiedowns" in `libssh` testing for [openssh](https://github.com/open-quantum-safe/libssh/blob/5f0bc395e78dca23e0ba32b38d946cdbc8fd1d08/.github/workflows/ci.yml#L30) and [liboqs](https://github.com/open-quantum-safe/libssh/blob/5f0bc395e78dca23e0ba32b38d946cdbc8fd1d08/.github/workflows/

[2022-02-23 17:39] kevinmkane commented on #115
Yes, I'm fine with that. I'll maintain a note in the README to list the last known good revisions of each, but will default to building against the latest versions in the instructions and CI.

I don't currently have any nightly build jobs scheduled; I only have the job that runs when a PR is opened. Should I look into adding a nightly job so we find new build breaks quickly? Now that the v8 update

[2022-02-23 17:58] baentsch commented on #115
I'd say that would be very sensible.

[2022-02-23 18:45] dstebila commented on #115
The alternative to a nightly job in libssh would be to have an upstream job trigger jobs in libssh. But since there are multiple potential sources of upstream triggers (liboqs, OQS-OpenSSH) it is probably just easier to do a nightly job here.

As for dropping support for v7, yes, I think that's fine. We can leave the branch, just put a note in the README on that branch indicating it is no longer s

[2022-02-23 19:43] kevinmkane commented on #115
open-quantum-safe/libssh#9

[2022-02-24 06:13] baentsch commented on #115
Thanks again!

[2022-02-24 06:13] #115 closed, assigned to nobody

[2022-03-02 19:27] christianpaquin commented on #117
Started this, but ran into merge issues that prevented the project compilation. OpenSSH released yet another version, [V_8_9_P1](https://github.com/openssh/openssh-portable/tree/V_8_9_P1), which will be the new target.

[2022-03-04 15:15] #117 closed, assigned to christianpaquin

[2022-04-09 07:43] baentsch commented on #66
More current spec https://github.com/csosto-pk/pq-ssh/blob/master/draft-kampanakis-ssh-pq-ke.txt

How much does oqs-openssh deviate from this spec?

How does this compare to [OpenSSH 9.0 (sntrup761x25519-sha512@openssh.com)](https://www.openssh.com/releasenotes.html)?

Should it be a goal to have oqs-openssh interoperate with OpenSSH (totally for the algorithm above and "in kind" for all others) -

[2022-04-11 02:49] csosto-pk commented on #66
Regarding [OpenSSH 9.0 (sntrup761x25519-sha512@openssh.com)](https://www.openssh.com/releasenotes.html)

The secrets are concatenated as K = K_X25519 || K_NTRU. More in https://github.com/openssh/openssh-portable/blob/0a8ca39fac6ad19096b6c263436f8b2dd51606f2/kexsntrup761x25519.c#L184

It uses message numbers
[code]
as per https://github.com/openssh/openssh-portable/blob/0a8ca39fac6ad19096b6c263436

[2022-04-11 06:26] baentsch commented on #66
@csosto-pk Thanks very much for your pointers and explanations above!

Do you (and/or everyone else following this project) think that oqs-openssh would benefit from upgrading to v9 and making available all QSC algs (still in the NIST competition :) in the same way? Any indication there could be wider uptake interest for this (either use as-is or PR into upstream `openssh-portable`)? Or alternativ

[2022-04-12 03:18] csosto-pk commented on #66
Personally, I think it could wait. Based on what NIST picks OpenSSH or OQS OpenSSH may need to change. Also, still carrying all KEMs now seems like an overkill since we are close to getting the algorithms that we should focus fist. And experimentation is already taking place with the current OQS projects.

Personally, I would wait for NIST and to see what will happen in IETF with [draft-kampanakis

[2022-05-31 14:02] Yamin88 opened #122 "run_test fails"
Several algorithms didn't work properly

didn't learn ssh-rsa3072-falcon512 correctly
learn additional hostkeys, type=ssh-rsa3072-dilithium2aes
learn hostkeys ssh-rsa3072-dilithium2aes (got 1 wanted 30)
didn't learn ssh-rsa3072-dilithium2aes correctly
learn additional hostkeys, type=ssh-rsa3072-picnicL1full
learn hostkeys ssh-rsa3072-picnicL1full (got 1 wanted 30)
didn't learn ssh-rsa3072-picnicL1

[2022-06-01 17:21] christianpaquin commented on #122
Can you give a bit more details, about your environment (OS, version, etc.), and how you invoked the tests?

[2022-06-01 18:30] Yamin88 commented on #122
Hi christian,
Please refer below OS, Version
OS Version is Ubuntu 20.04.1 LTS.
OpenSSL 1.1.1f  31 Mar 2020

I follow the steps according the instruction
1. Step 0 - install successfully
2. Step 1 - liboqs build successfully
3. Step 2 - ./oqs-scripts/build_openssh.sh  - Build Successful
When I run oqs-test/run_tests.sh , I got 2 error according to the above.

Please kindly advise.

[2022-06-03 07:04] baentsch commented on #122
@Yamin88 We happen to have an AWS Development VM with exactly those OS specs -- All steps you list above are running just fine -- however the tests seem to take hours -- but still the errors you list above didn't occur (yet -- tests still running...).

Can you pinpoint the specific test that fails so we can try to reproduce? Can you also confirm the test passes on a "stock" (non-OQS-) openssh (v8.

[2022-06-03 08:40] baentsch commented on #122
PS: After a long time, the errors reported above also appeared in my setup. However, they were preceded by
[code]

which again points to a more general error in the test case: ed25519 is not an OQS algorithm. But then again, I'm no expert on openssh (incl. its testing)., Maybe @xvzcf or @christianpaquin could comment more?

FYI (answering my own question above): The error gets triggered right away

[2022-06-03 14:35] christianpaquin commented on #122
I'm no expert either on the OpenSSH internals, but indeed checking if the non-OQS version of OpenSSH fails would be very instructive.

[2022-06-04 18:31] baentsch commented on #122
Done. It doesn't (fail). So this is an OQS-issue.

But then again, further tests fail beyond the ones labelled ["investigate further"](https://github.com/open-quantum-safe/openssh/blob/a3fa262b8aebf3bb09d506d071299d0532ccea7d/oqs-test/run_tests.sh#L9-L13). I'm in the process of extending that list, checking it in and adding the test to CI such that this a) doesn't happen again and b) we can decide

[2022-06-05 18:49] #122 closed, assigned to nobody

[2022-06-09 14:12] Yamin88 commented on #122
Hi Everyone,
Thanks for giving advise.
It solved because I install classic OpenSSH and generate the keys for testing.
I uninstall openssh server , client and re-run again everything from scratch then it works.

Best Regards,
Yamin

[2022-06-09 14:38] Yamin88 opened #124 "Question : Retrieve more information from library"
Hi Everyone,
I would like to retrieve more information in try_connection.py like liboqs detail information.
1) claimed_nist_level
2) length of keys size

How I can retrieve above information in try_connection.py?
Is there any way to change the customize message text to send for KEM?

If I got guidance how to do , it would be helpful to me.

Best Regards,
Yamin

[2022-06-10 07:26] baentsch commented on #124
For more "in-depth interaction" with the library from within Python, what about using https://github.com/open-quantum-safe/liboqs-python ?

I'm not sure I understand what is meant by "customize message text": Can you elaborate?

[2022-07-11 13:33] Ricky-Tigg opened #125 "General observations"
Hello. As a user of a GNU-Linux system, Fedora (**kernel 5.18**), i came to read, somehow lately, about SSH-relared projects, yet on this platform. I could notice that section _Quick-start_ was written against a release that is not obsolete but yet old. Might the statements of that section be still valid against an up-to-date release, Ubuntu 22.04 LTS 'Jammy Jellyfish' (**kernel 5.15**) or even De

[2022-07-27 13:35] csosto-pk commented on #66
Hi @dstebila , @baentsch ,
Now that NIST pick its KEM, are you planning to bring parity between OQS OpenSSH and the [PQ key exchange SSH draft](https://github.com/csosto-pk/pq-ssh/blob/master/draft-kampanakis-ssh-pq-ke.txt)?

I would like to test our internal implementation with OQS OpenSSH. I would also try to interop with other PQ SSH implementations as well and indirectly see how well-written t

[2022-07-27 19:18] dstebila commented on #66
Hi Panos, definitely we want to do that. The main thing is about having someone to work on it.  My team member @xvzcf is currently on secondment with Peter Schwabe's group in Germany, but will be back in November, so I can get him to work on it then if no one else has done it before then.

[2022-08-23 15:33] vt-alt opened #127 "Openssh release any time soon?"
I thought you will release new OQS openssh together with liboqs but you didn't. Will you release OQS openssh any time soon or we should not wait for it?

[2022-08-23 16:13] baentsch commented on #127
If no-one else volunteers (?), I'll release it before the end of this week

[2022-08-23 17:51] vt-alt commented on #127
Ah. Thanks for the info!

[2022-08-24 00:52] christianpaquin commented on #127
Thanks @baentsch; out again this week, then out of vacation for a while :)

[2022-08-24 04:51] #127 closed, assigned to nobody

[2022-08-25 15:52] vt-alt commented on #127
Thanks for the release!

[2022-09-06 10:52] Ricky-Tigg commented on #125
At last, noticing the obvious; dead project.

[2022-09-06 10:52] #125 closed, assigned to nobody